.header {
	width: 100vw;
	height: 8vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: linear-gradient( 180deg, #6910a8 10.8%, #c670ff 94.3% );
	color: white;
}
.container {
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 1.2rem;
}

.links {
	display: flex;
	text-decoration: none;
	gap: 1.9rem;
	list-style-type: none;
}

.link {
	color: #eee;
	text-decoration: none;
	cursor: pointer;
}
.link:hover {
	color: #fff;
  filter: brightness(1.4);
	cursor: pointer;
}

.link::after {
	content: "";
	display: block;
	width: 0;
	height: 2px;
	background: white;
	transition:  width 0.3s ease 0s, left 0.3s ease 0s;
  
}

.link:hover::after {
	width: 100%;
  transition: all 300ms ease-in-out;
}

.active {
	color: #111;
}

.right {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}


.btn{
  all: unset;
  cursor: pointer;
  color: #5a189a;
  font-size: 1.8rem;
  margin-top: 0.4rem;
}

.btn:hover {
  color: #FFF;
}

.cart{
    font-size: 1.7rem;
    cursor: pointer;
}
.cart:hover{
  transform: scale(1.1);
  color: #ff4d6d;
}

.detailCart{
  position: relative;
  margin-top: 0.4rem;
}

.myCart{
  color: white;
  background-color: #ff4d6d;
  border-radius: 50%;
  padding: 0.1rem 0.4rem;
  font-size: 0.7rem;
  position: absolute;
  left: 1.1rem;
  top: -0.2rem;
}


/* bar section */

.bar{
  /* background-image: linear-gradient( 180deg, #c670ff 10.8%, #cd8ff6 94.3% ); */
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #111;
}

.barContainer{
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
}

.sort{
  display: flex;
  gap: 0.3rem;
}

.name{
  font-weight: 600;
  font-size: 1.8rem;
}

.select{
  font-size: 1.2rem;
  padding: 0.2rem;
  background-color: #fff;
  color: #10002b;
}

.filter{
  color: #ff4d6d;
  padding-top: 0.2rem;
}